.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.15s linear alternate;
  }
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Dice
{
  background-color: #21252b;
  border-radius: 5vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 8vw;
  font-weight: bold;
  user-select: none;
}

#Dice:active
{
  background-color: #3b424d;
  padding-top: 0.8vw;
  padding-bottom: 1.6vw;
  padding-left: 2.6vw;
  padding-right: 2.6vw;
  font-size: 7.6vw;


}

.convertor
{
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
}

.miles
{
  margin-bottom: 0.5vw;
  width:100%;
}

.km
{
  width: 100%;
}

.convertor input{
  font-family:'Courier New', Courier, monospace;
  font-size: 3vw;
  width: 60%;
  border-radius: 10px;
  padding: 5px 15px;
  border-color: #191919;
  border-width: 3px;
  float: right;
  font-weight: 150;

}

.convertor label{
  font-family:'Courier New', Courier, monospace;
  padding: 5px 10px;
  float: left;
  font-weight: 100;
  text-shadow: #000000 2px 2px;
}


.adder
{
  font-size: 3vw;
  margin-top: 30vh;
  float: top;
}

.adder input{
  font-family:'Courier New', Courier, monospace;
  font-size: 5vw;
  width: 60%;
  border-radius: 10px;
  border-color: #191919;
  border-width: 3px;
  font-weight: 150;
  margin-bottom: 5%;

}

.adder button{
  font-family:'Courier New', Courier, monospace;
  padding: 5px 10px;
  font-weight: 100;
  font-size: 2vw;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  border-color: #191919;
  border-width: 3px;
  width: 80px;
}

.history
{
  font-family:'Courier New', Courier, monospace;
  font-weight: 150;


}
